Status

Hi, I hope not to disturb you, and feel free to close this issue as not planned.

Recently I started working with the JWT standards ([RFC7515](https://datatracker.ietf.org/doc/html/rfc7515), [RFC7516](https://datatracker.ietf.org/doc/html/rfc7516), [RFC7517](https://datatracker.ietf.org/doc/html/rfc7517), [RFC7518](https://datatracker.ietf.org/doc/html/rfc7518), [RFC7519](https://datatracker.ietf.org/doc/html/rfc7519)) and I was looking into creating a Nuxt module to provide direct support for them.

Is your [`nuxt-jwt`](https://www.npmjs.com/package/nuxt-jwt) module still maintained on npm? If not, is it possible if I take over it? 🙏

I plan to create a new module based on my recent work on [`unjwt`](https://github.com/sandros94/unjwt) library 😬